body {
  font-family: 'Raleway', sans-serif;
  padding-bottom: 30px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

footer {
  background-color: #333399;
  color: white;
  padding: 10px;
}
a {
  color: #1c2f2f;
}

h1 {
  position: relative;
}

p {
  position: relative;
  font-size: 20px;
}

li {
  font-size: 18px;
}
#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}


.content {
  color: #1c2f2f;
}
.title {
  position: relative;
  color: #6a5acd;
  margin-left: 5%;
  margin-right: 5%;
}

.page-title {
  position: relative;
  text-align: right;
  margin-right: 5%;
}

.page-date {
  position: relative;
  text-align: right;
  margin-right: 5%;
  color: #6a5acd;
}

.heading {
  position: relative;
  color: #6a5acd;
}

.jumbotron {
 padding-top: 15%;
 padding-bottom: 15%;
 position: relative;
 background-color: transparent;
}

.navbar {
    position: relative;
    background-color: #6a5acd;
}

.navbar-default .navbar-nav > li >a {
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
}


#about #faq #contact {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
}


.slideanim {position: relative;visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
