body {
  font-family: 'Raleway', sans-serif;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
  margin-left: 5%;
  margin-right: 5%;
}

footer {
  background-color: #333399;
  color: white;
  padding: 10px;
}
a {
  color: #1c2f2f;
}

h1 {
  position: relative;
}

p {
  position: relative;
  font-size: 20px;
}

ol {
  font-size: 20px;
}
#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
.navbar {
  position: relative;
  margin-bottom: 0 !important;
}

.navbar li a, .navbar .navbar-brand {
    position: relative;
    color: #6a5acd !important;
}

.title {
  position: relative;
  color: #6a5acd;
}

.page-title {
  position: relative;
  text-align: right;
  margin-right: 5%;
}

.page-date {
  position: relative;
  text-align: right;
  margin-right: 5%;
  color: #6a5acd;
}

.heading {
  position: relative;
  color: #6a5acd;
}

.jumbotron {
 padding-top: 15%;
 padding-bottom: 15%;
 overflow: hidden;
 position: relative;
 background-color: transparent;
}

#about {
  position: relative;
  color: white;
  padding: 50px;
}

#faq {
  position: relative;
  background-color: #333399; color:white;
  padding: 50px;
}

#video {
  position: relative;
  background-color: #3366CC;color: white;
  padding: 50px;
}

#description {

}

#picture {

}

#contact {
  position: relative;
  color: white;
  padding: 50px;
}

#content {
  position: relative;
}
.slideanim {position: relative;visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
