body {
  font-family: 'Raleway', sans-serif;
  background-image: url("../images/hatsunemiku.png");
  background-size: auto;
  padding-bottom: 30px;
}


.navbar {
  background-color: #333399;
  color: white;
  margin-bottom: 0 !important;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.title {
  color: #7FFFD4;
  text-shadow: 4px 4px 4px #000000;
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
