body {
  font-family: 'Raleway', sans-serif;
}

.navbar {
  margin-bottom: 0 !important;
  background-color: #e6e6e6;
}


.jumbotron {
  text-align: center;
  background-size: cover;
  margin-bottom: 0px;
  padding: 100px;
  background-image: url("../images/kunikida.jpg");
  background-size: cover;
  color: #7FFFD4;
  text-shadow: 2px 2px 4px #000000;
}

.bg-2 {
  background-color: #303030;
  color: white;
  padding: 30px;
}

.bg-3 {
  padding: 30px;
}

.bg-4 {
  padding: 30px;
  background-color: #ffb7c5;
}

.text-wrap {
  max-width: 40%;
}
